<div class="art-of-cake">
    <div class="container art-of-cake__content">
        <div class="art-of-cake__column">left</div>
        <div class="art-of-cake__column art-of-cake__column--right">
            <div class="art-of-cake__square-item">
                <div class="image-with-border">
                    <img src="../../img/aoc1.jpg" alt="">
                </div>
            </div>
            <div class="art-of-cake__square-item">
                <div class="image-with-border">
                    <img src="../../img/aoc1.jpg" alt="">
                </div>
            </div>
            <div class="art-of-cake__square-item">
                <div class="image-with-border">
                    <img src="../../img/aoc1.jpg" alt="">
                </div>
            </div>
            <div class="art-of-cake__square-item">
                <div class="image-with-border">
                    <img src="../../img/aoc1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>