.underlined-header {
    display: flex;
    font-size: 25px;
    font-weight: bold;
    color: gray;

    &.hot {
        color: rgb(67, 67, 185);
    }

    &.last {
        color:rgb(22, 197, 46)
    }

    &:after {
        content: '';
        display: block;
        border-bottom: 2px solid gray;
        flex: 1 0 auto;
        margin-left: 10px;
        height: 0;
        position: relative;
        top: 20px;
    }
    &.hot:after {
        border-color: #df3421;
    }

    &.last:after {
        border-color: rgb(22, 197, 46);
    }
}

.block {
    color: green;

    &__element {
        color: blue;
        
        &--modificator {
            color: red;
        }
    }
}


.block {
    color: green;
}

.block__element {
    color: blue;
}

.block__element--modificator {
    color: red;
}